{% extends "base_generic.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Settings</h1>
</div>

<div>
    <h1>Account</h1>

    <button type="submit" onclick="warning()">Delete my account</button>
</div>

<script>
    function warning() {
        const url = '{% url "app:settings" %}';
        const result = confirm('Are you SURE you want to delete your account?');
        if (result) {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', url, true);
            xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
            xhr.onload = () => {
                // redirect
                window.location.replace('{% url "app:index" %}');
            };
            xhr.send('csrfmiddlewaretoken={{ csrf_token }}');
        }
    }
</script>

{% endblock %}
