{% extends "base_generic.html" %}

{% block content %}
<style>
    .dropdown-menu {
        max-height: 280px;
        overflow-y: auto;
    }
    .editor-button {
        margin: 5px;
    }
</style>

<div class="jumbotron">
    <h1>Edit Snippet</h1>
    <p>Choose a language, title, and description to complete a snippet. Optionally add tags for easy access later. Star the snippet if it's extra important.</p>
</div>

{% if form.errors %}
<h2>Errors</h2>
<ul class="list-group py-4">
    {% for k, v in form.errors.items %}
        <li class="list-group-item">{{ k }}: {{ v }}</li>
    {% endfor %}
</ul>
{% endif %}

<h2>Code</h2>

<div class="btn-group py-4">
    <div class="dropdown editor-button">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Theme <span class="caret"></span></button>
        <div class="dropdown-menu" id="theme-menu">
        </div>
    </div>
    <div class="dropdown editor-button">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Language <span class="caret"></span></button>
        <div class="dropdown-menu" id="language-menu">
        </div>
    </div>
</div>

<div id="editor" style="height: 500px; width: 100%;"></div>

<!-- less hack -->
<div id="snippet" style="display: none;">
    <div id="snip_tags">
        {% for tag in snippet.tags.all %}
            <div>{{ tag }}</div>
        {% empty %}
            <div>none</div>
        {% endfor %}
    </div>
</div>

<form action="{% url 'app:snippet-edit' pk %}" method="post" novalidate>
    {% csrf_token %}
    <span style="display: none;">{{ form.code }}</span>
    <span style="display: none;">{{ form.language }}</span>
    <h2 style="margin-top: 1.7rem!important;"><label for="id_title">Title </label></h2>
    {{ form.title }}
    <h2 style="margin-top: 1.7rem!important;"><label for="id_description">Description </label></h2>
    {{ form.description }}
    <h2 style="margin-top: 1.7rem!important;"><label for="id_starred">Starred </label></h2>
    {{ form.starred }}
    <h2 style="margin-top: 1.7rem!important;"><label for="id_starred">Tags </label></h2>
    {{ form.tags }}
    <br>
    <a class="btn btn-secondary" style="margin-top: 0.7rem!important;" href="{% url 'app:tag-add' %}">Add tag</a>
    <br>
    <br>
    <div style="width: 250px; margin: auto; margin-bottom: 1.7rem!important;">
        <input class="btn btn-primary btn-lg btn-block" type="submit" value="Update">
    </div>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js" integrity="sha512-GZ1RIgZaSc8rnco/8CXfRdCpDxRCphenIiZ2ztLy3XQfCbQUSCuk8IudvNHxkRA3oUg6q0qejgN/qqyG1duv5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ext-modelist.min.js" integrity="sha512-DVhsjVBjwWmU6Tb43nTK5ZhIUVdwOEiKPm8KTk3pE28oN/ZUGCJm7ufcUZq8yo2uYFkNfPZ9aed16cAKEj/2gw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ext-themelist.min.js" integrity="sha512-5CwAfXQtNsk5OzybMAJ3U14TStTq6jUHJoWxu58KOyioLXO3fX6FPUKaYp/2iF6yZMkv38fvh3nH+Vq94R2BUg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    const editor = ace.edit('editor');
    const txt = document.getElementById('id_code');
    const lng = document.getElementById('id_language');
    const theme_menu = document.getElementById('theme-menu');
    const language_menu = document.getElementById('language-menu');
    const themes = ace.require('ace/ext/themelist').themes;
    const languages = ace.require('ace/ext/modelist').modes;

    // Set the textarea to whatever's in the editor    
    editor.getSession().on('change', () => {
        txt.value = editor.getSession().getValue();
    });
    const snippet = document.getElementById('snippet').children;
    const code = {{ code|safe }};
    const lang = {{ language|safe }};
    const tags = snippet[0].children;

    editor.getSession().setValue(code);
    txt.value = code;

    // Dropdown menu logic
    function make_list_elements(n) {
        let list_elements = [];
        for (let i = 0; i < n; i++) {
            const li = document.createElement('li');
            li.className = 'dropdown-item';
            li.style.cursor = 'pointer';
            list_elements.push(li);
        }
        return list_elements;
    }

    // text_contents: list of strings (contents for each dropdown item)
    // onclick_fn: what to do onclick
    function fill_content_of_list_elements(list_items, text_contents, menu_object, onclick_fn) {
        const n = list_items.length;
        for (let i = 0; i < n; i++) {
            list_items[i].textContent = text_contents[i];
            list_items[i].onclick = () => {
                onclick_fn(i);
                
                list_items[i].className = 'dropdown-item active';
                for (let j = 0; j < n; j++) {
                    if (j != i)
                        list_items[j].className = 'dropdown-item';
                }
            }
            menu_object.appendChild(list_items[i]);
        }
    }

    const theme_list_elements = make_list_elements(themes.length);
    fill_content_of_list_elements(
        theme_list_elements,
        themes.map(x => x.caption),
        theme_menu,
        (i) => { editor.setTheme(themes[i].theme); localStorage.setItem('editorTheme', i); });

    const language_list_elements = make_list_elements(languages.length);
    fill_content_of_list_elements(
        language_list_elements,
        languages.map(x => x.caption),
        language_menu,
        (i) => { editor.session.setMode(languages[i].mode); lng.value = languages[i].name; }
    );

    // Default editor theme and language
    if (localStorage.getItem('editorTheme') === null) {
        localStorage.setItem('editorTheme', 0);
    } else {
        theme_list_elements[localStorage.getItem('editorTheme')].click();
    }
    
    try {
        languages.filter(x => x.caption)
        // lang is "c_cpp" but the other thing is "C and C++"
        const caption = languages.filter(x => x.name === lang.toLowerCase())[0].caption;
        
        language_list_elements.filter(x => x.textContent.toLowerCase() == caption.toLowerCase())[0].click();
    } catch(e) {
        language_list_elements.filter(x => x.textContent.toLowerCase() == 'text')[0].click();
    }

    const title_input = document.getElementById('id_title');
    title_input.value = '{{ snippet.title }}';

    const desc_input = document.getElementById('id_description');
    desc_input.value = '{{ snippet.description }}';

    const starred_input = document.getElementById('id_starred');
    starred_input.value = Boolean('{{ snippet.starred }}');

    const tags_input = document.getElementById('id_tags');
    if (tags[0].textContent !== 'none') {
        for(let i = 0; i < tags_input.children.length; i++) {
            // let tagname = tags_input.children[i].textContent.split('\"')[1];
            let tagname = tags_input.children[i].textContent;
            for (let j = 0; j < tags.length; j++) {
                if (tagname === tags[j].textContent) {
                    tags_input.children[i].selected = true;
                    break;
                }
            }
        }
    }
    
</script>

{% endblock %}

