{% extends "base_generic.html" %}

{% load filters %}
{% block content %}

<div class="jumbotron">
    <h1>{{ tag.tag_type }}</h1>
</div>

<div>
    <form style="display: inline;" action="{% url 'app:tag-delete' tag.id %}" method="GET">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
    <form style="display: inline;" action="{% url 'app:tag-edit' tag.id %}" method="GET">
        {% csrf_token %}
        <button type="submit">Edit</button>
    </form>
    <br>
    <br>
    <ul>
        {% for snippet in page_obj %}
        <li>
            <a href="{{ snippet.get_absolute_url }}">{{ snippet.title }}</a> ({{ snippet.language }}, {{ snippet.loc }} lines)
        </li>
        {% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

{% endblock %}

