{% extends "base_generic.html" %}

{% block content %}
    <div class="jumbotron">
      <h1>Tags</h1>
    </div>

    {% if tag_list %}
    <ul>
      {% for tag in tag_list %}
      <li>
        <a href="{{ tag.get_absolute_url }}">
          {{ tag.tag_type }}
          {% if tag.count == 1 %}
          ({{ tag.count }} snippet)
          {% else %}
          ({{ tag.count }} snippets)
          {% endif %}
        </a>
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>No tags found!</p>
    {% endif %}       
{% endblock %}
