{% extends "base_generic.html" %}

{% load filters %}
{% block content %}

<h1>{{ tag.tag_type }}</h1>

<div>
    <form action="{% url 'app:tag-delete' tag.id %}" method="GET">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
    <ul>
        {% for snippet in snippets %}
        <li>
            <a href="{{ snippet.get_absolute_url }}">{{ snippet.title }}</a> ({{ snippet.language }}, {{ snippet.loc }} lines)
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}

