{% extends "base_generic.html" %}

{% block sidebar %}
<ul class="nav nav-pills flex-column mb-auto">
  <li class="nav-item">
  <a href="{% url 'app:index' %}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
      Home
  </a>
  </li>
  <li>
  <a href="{% url 'app:snippets' %}" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
      Snippets
  </a>
  </li>
  <li>
  <a href="{% url 'app:tags' %}" class="nav-link active" aria-current="page">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
      Tags
  </a>
  </li>
  <li>
  <a href="" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
      Teams
  </a>
  </li>
</ul>
{% endblock %}

{% block content %}
    <h1>Tags</h1>

    {% if tag_list %}
    <ul>

      {% for tag in tag_list %}
      <li>
        <a href="{{ tag.get_absolute_url }}">{{ tag.tag_type }}</a>
      </li>
      {% endfor %}

    </ul>

    {% else %}
      <p>There are no tags.</p>
    {% endif %}       
{% endblock %}
