{% extends "base_generic.html" %}

{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="jumbotron">
            <h1>Home</h1>
        </div>
        <div class="row align-items-center">
            <div class="col">
                <a class="btn btn-dark" style="margin-bottom: 10px;" href="{% url 'app:snippet-add' %}">Add new snippet</a>
                <a class="btn btn-dark" style="margin-bottom: 10px;" href="{% url 'app:tag-add' %}">Add new tag</a>
            </div>
        </div>
        
        {% if counts %}
        <hr>
        <div>
            <h1>Stats</h1>
            <div id="piechart" style="width: 100%; height: 450px;"></div>
        </div>
        {% endif %}

        {% if starred %}
        <hr>
        <div>
            <h1>Starred</h1>
            <br>
            <div class="card-columns" style="margin-bottom: 10px;">
                {% for snippet in starred %}
                <div class="card text-center">
                {% if snippet.starred %}
                <p style="position: absolute; right: 15px; top: 0px; font-size: 30px;">&#9733;</p>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ snippet.get_absolute_url }}">{{ snippet.title }}</a></h5>
                    <p class="card-text">
                    ({{ snippet.language }},
                    {% if snippet.loc == 1 %}
                    1 line)
                    {% else %}
                    {{ snippet.loc }} lines)
                    {% endif %}
                    </p>
                    <p class="card-text"><small class="text-muted">{{ snippet.pub_date }}</small></p>
                </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if recent %}
        <hr>
        <div>
            <h1>Recent</h1>
            <br>
            <div class="card-columns" style="margin-bottom: 10px;">
                {% for snippet in recent %}
                <div class="card text-center">
                {% if snippet.starred %}
                <p style="position: absolute; right: 15px; top: 0px; font-size: 30px;">&#9733;</p>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ snippet.get_absolute_url }}">{{ snippet.title }}</a></h5>
                    <p class="card-text">
                    ({{ snippet.language }},
                    {% if snippet.loc == 1 %}
                    1 line)
                    {% else %}
                    {{ snippet.loc }} lines)
                    {% endif %}
                    </p>
                    <p class="card-text"><small class="text-muted">{{ snippet.pub_date }}</small></p>
                </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    {% else %}
        <div class="jumbotron">
            <h1>Welcome</h1>
        </div>
        <div class="row align-items-center">
            <div class="col">
                <p>Welcome to Recall, a programming tool that allows you to store snippets of code along with short explanations.</p>
                <hr>
                <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
                <a class="btn btn-primary" href="{% url 'signup' %}">Sign Up</a>
            </div>
        </div>
    {% endif %}

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            let counts = {{ counts|safe }};
            const headers = ['Language', 'Lines'];
            counts.unshift(headers);
            console.log(counts);
            data = google.visualization.arrayToDataTable(counts);

            var options = {
                title: 'Code Stats'
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
    </script>
{% endblock %}