{% extends "base_generic.html" %}

{% load static %}

{% block content %}
    {% if user.is_authenticated %}
    <ul>
        <li><a href="{% url 'app:snippet-add' %}">Add new snippet</a></li>
        <li><a href="{% url 'app:tag-add' %}">Add new tag</a></li>
    </ul>
    {% else %}
        <p>Welcome to Recall, a programming tool that allows you to store snippets of code along with short explanations.</p>
        <a class="nav-link" href="{% url 'login' %}">Login</a>
        <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
{% endblock %}
