{% extends "base_generic.html" %}

{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="jumbotron">
            <h1>Home</h1>
        </div>
        <div class="row align-items-center">
            <div class="col">
                <a class="btn btn-primary" href="{% url 'app:snippet-add' %}">Add new snippet</a>
                <a class="btn btn-primary" href="{% url 'app:tag-add' %}">Add new tag</a>
            </div>
        </div>
    {% else %}
        <div class="jumbotron">
            <h1>Welcome</h1>
        </div>
        <div class="row align-items-center">
            <div class="col">
                <p>Welcome to Recall, a programming tool that allows you to store snippets of code along with short explanations.</p>
                <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
                <a class="btn btn-primary" href="{% url 'signup' %}">Sign Up</a>
            </div>
        </div>
    {% endif %}
{% endblock %}